# Grafana generated and downloaded data
grafana/var/lib/grafana/sessions/*
grafana/var/lib/grafana/plugins/*
grafana/var/lib/grafana/png/*

# Prometheus Database
*/prometheus/prometheus/*
prometheus-central/db/*

mailserver/

# concat result
alertmanager.yml

# Node0 Generated Data
node0/import/

# Other files
*.bak
*.tmp
*.copy
